<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width">
    <script src="https://kit.fontawesome.com/5a1d1945e0.js" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
    <link href="/css/normalize.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/styles.css">
    <title>Mercado Liebre</title>
</head>

<body>
    <header class="main-header">
        <div class="main-header-bar">
            <img src="images/logo-mercado-liebre.svg" class="logo" />
            <div class="search-bar-container">
                <input class="search-bar" type="text" placeholder="Buscar productos, marcas...">

                <button><i class="fas fa-search"></i></button>

            </div>
            <h2 class="compra-txt"><i class="fas fa-hand-holding-usd"></i> Compra en Cuotas y Sin Tarjeta de Credito
            </h2>
        </div>
        <nav class="main-nav-bar">
            <ul class="nav-bar1">
                <li><a href="#">Ofertas</a></li>
                <li><a href="#">Tiendas Oficiales
                    </a></li>
                <li><a href="#">
                        Vender
                    </a></li>
                <li><a href="#">
                        Ayuda
                    </a></li>
            </ul>
            <ul class="nav-bar2">
                <li><a href="register">
                        Creá Tu Cuenta <i class="far fa-id-card"></i>
                    </a></li>
                <li><a href="login">
                        Ingresá <i class="fas fa-sign-in-alt"></i>
                    </a></li>
                <li><a href="#">
                        Mis Compras <i class="fas fa-shopping-basket"></i>
                    </a></li>
            </ul>
        </nav>

        <a class="burger-menu">
            <i class="fas fa-bars"></i>
        </a>

    </header>
    <div class="img-banner-container">
        <img src="images/img-home-banner.jpg">
    </div>
    <main>

        <h3 class="titulares">Basado En tu Ultima Visita</h3>
        <section class="productos">
            <article>
                <div>
                    <img src="images/img-cafetera-moulinex.jpg" />
                </div>
                <div class="item">
                    <i class="fas fa-truck"></i>
                    <p class="precio">$ 6.770</p>
                    <p class="descuento">40% OFF</p>
                    <p class="descripcion">Cafetera Moulinex</p>
                </div>
            </article>
            <article>
                <div>
                    <img src="images/img-macbook-pro-2019.jpg" />
                </div>
                <div class=" item">
                    <i class="fas fa-truck"></i>
                    <p class="precio">$230.000</p>
                    <p class="descuento">20% OFF</p>
                    <p class="descripcion">MacBook Pro 2019</p>
                </div>
            </article>
            <article>
                <div>
                    <img src="images/img-samsung-galaxy-s10.jpg" />
                </div>
                <div class=" item">
                    <i class="fas fa-truck"></i>
                    <p class="precio">$ 70.500</p>
                    <p class="descuento">10% OFF</p>
                    <p class="descripcion">Samsung Galaxy S10</p>
                    <div>
            </article>
            <article>
                <div>
                    <img src="images/img-tv-samsung-smart.jpg" />
                </div>
                <div class=" item">
                    <i class="fas fa-truck"></i>
                    <p class="precio">$ 23.200</p>
                    <p class="descuento">5% OFF</p>
                    <p class="descripcion">SmartTv Samsung43"</p>
                </div>
            </article>
        </section>
        <h3 class="titulares">Ofertas</h3>
        <section class="ofertas">
            <article>
                <div>
                    <img src="images/img-cafetera-moulinex.jpg" />
                </div>
                <div class=" item">
                    <i class="fas fa-truck"></i>
                    <p class="precio">$ 6.770</p>
                    <p class="descuento">40% OFF</p>
                    <p class="descripcion">Cafetera Moulinex</p>
                </div>
            </article>
            <article>
                <div>
                    <img src="images/img-macbook-pro-2019.jpg" />
                </div>
                <div class=" item">
                    <i class="fas fa-truck"></i>
                    <p class="precio">$230.000</p>
                    <p class="descuento"> 20% OFF</p>
                    <p class="descripcion">MacBook Pro 2019</p>
                </div>
            </article>
            <article>
                <div>
                    <img src="images/img-samsung-galaxy-s10.jpg" />
                </div>
                <div class=" item">
                    <i class="fas fa-truck"></i>
                    <p class="precio">$ 70.500</p>
                    <p class="descuento">10% OFF</p>
                    <p class="descripcion">Samsung Galaxy S10</p>
                </div>
            </article>
            <article>
                <div>
                    <img src="images/img-tv-samsung-smart.jpg" />
                </div>
                <div class=" item">
                    <i class="fas fa-truck"></i>
                    <p class="precio">$ 23.200</p>
                    <p class="descuento">5% OFF</p>
                    <p class="descripcion">SmartTv Samsung43"</p>
                </div>
            </article>
        </section>
    </main>
    <footer>
        <section>
            <article>
                <i class="fas fa-credit-card"></i>
                <h3>Paga con tarjeta o efectivo</h3>
                <p>Con Merecado Liebre Cash tenes cuotas sin interes con tarjeta o efectivo en puntos de pago</p>
            </article>
            <article>
                <i class="fas fa-gift"></i>
                <h3>Envio Gratis desde los $2.500</h3>
                <p>Solo por estar registard@ en MercadoLiebre tenes envios gratis en miles de productos. Es un beneficio
                    de mercado puntos</p>
            </article>
            <article>
                <i class="fas fa-user-shield"></i>
                <h3>Seguridad de Principio a Fin</h3>
                <p>¿No te gusta?¡Devolvelo! En mercadoLiebre no hay nada que no puedas hacer porque estas siempre
                    protegid@</p>
            </article>
        </section>
        <p class="copyright">Copyright © 1999-2020 MercadoLiebre S.R.L.</p>

    </footer>
</body>

</html>