<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/5a1d1945e0.js" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
    <link href="/css/normalize.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/styles.css">
    <title>Registrar</title>
</head>

<body>

    <header class="main-header">
        <div class="main-header-bar">
            <img src="images/logo-mercado-liebre.svg" class="logo" />
            <div class="search-bar-container">
                <input class="search-bar" type="text" placeholder="Buscar productos, marcas...">

                <button><i class="fas fa-search"></i></button>

            </div>
            <h2 class="compra-txt"><i class="fas fa-hand-holding-usd"></i> Compra en Cuotas y Sin Tarjeta de Credito
            </h2>
        </div>
        <nav class="main-nav-bar">
            <ul class="nav-bar1">
                <li><a href="#">Ofertas</a></li>
                <li><a href="#">Tiendas Oficiales
                    </a></li>
                <li><a href="#">
                        Vender
                    </a></li>
                <li><a href="#">
                        Ayuda
                    </a></li>
            </ul>
            <ul class="nav-bar2">
                <li><a href="register">
                        Creá Tu Cuenta <i class="far fa-id-card"></i>
                    </a></li>
                <li><a href="login">
                        Ingresá <i class="fas fa-sign-in-alt"></i>
                    </a></li>
                <li><a href="#">
                        Mis Compras <i class="fas fa-shopping-basket"></i>
                    </a></li>
            </ul>
        </nav>

        <a class="burger-menu">
            <i class="fas fa-bars"></i>
        </a>

    </header>

    <main class="register-main">

    <div>
        <h2 id="register-title">Crea tu Cuenta</h2>
    </div>

    <form action="" method="POST" class="register-form">
        <div>
            <input type="text" name="nombreapellido" placeholder="Nombre y Apellido">
        </div>
        <div>
            <input type="text" name="username" placeholder="Nombre de Usuario">
        </div>
        <div>
            <input type="email" name="mail" placeholder="E-Mail">
        </div>
        <div>
            <label for="fecha" class="campo"> Fecha de nacimiento </label>
            <input type="date" name="fecha" id="fecha-nacimiento">
        </div>
        <div>
            <input type="text" name="dir" id="dir" placeholder="Domicilio">
        </div>
        <div>
            <label for="tipo-user" class="campo">Perfil de Usuario</label>
            <div class="rbg">
                <label>Comprador</label>
                <input type="radio" name="tipo-user">

                <label>Vendedor</label>
                <input type="radio" name="tipo-user">
            </div>
        </div>
        <div>
            <label for="intereses" class="campo">Intereses</label>
            <div id="chckbx">
                <label>
                    <input type="checkbox" name="intereses">
                    Electro
                </label>
                <label>
                    <input type="checkbox" name="intereses">
                    Moda
                </label>
                <label>
                    <input type="checkbox" name="intereses">
                    Hogar
                </label>
                <label>
                    <input type="checkbox" name="intereses">
                    Jugeteria
                </label>
                <label>
                    <input type="checkbox" name="intereses">
                    Vida Sana
                </label>
            </div>
        </div>
        <div>
            <label for="foto-perfil" class="campo">Foto de Perfil</label>
            <input type="file" name="foto-perfil" placeholder="asd" id="profile">
        </div>
        <div>
            <input type="password" name="pw" id="pw" placeholder="Contraseña">
        </div>
        <div>
            <input type="password" name="pw-confirm" id="pw" placeholder="Confirmar Contraseña">
        </div>
        <div class="botonera">

            <input type="reset" name="borrar" placeholder="borrar">
            <input type="submit" name="enviar">

        </div>

    </form>
    </main>
    <footer>
        <section>
            <article>
                <i class="fas fa-credit-card"></i>
                <h3>Paga con tarjeta o efectivo</h3>
                <p>Con Merecado Liebre Cash tenes cuotas sin interes con tarjeta o efectivo en puntos de pago</p>
            </article>
            <article>
                <i class="fas fa-gift"></i>
                <h3>Envio Gratis desde los $2.500</h3>
                <p>Solo por estar registard@ en MercadoLiebre tenes envios gratis en miles de productos. Es un beneficio
                    de mercado puntos</p>
            </article>
            <article>
                <i class="fas fa-user-shield"></i>
                <h3>Seguridad de Principio a Fin</h3>
                <p>¿No te gusta?¡Devolvelo! En mercadoLiebre no hay nada que no puedas hacer porque estas siempre
                    protegid@</p>
            </article>
        </section>
        <p class="copyright">Copyright © 1999-2020 MercadoLiebre S.R.L.</p>

    </footer>
</body>

</html>